div.container {
    width: 60%;
    border: 3px solid black;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
  
  }

div.form-group, h1 {
    text-align: center;
}  

#btn2 {
    position: relative;
    left: 47%;
}